<div class="flex-vertical vertical-center central-panel">
  <p class="description">
    Enter the groundtruth and the prediction as an array of comma-separated
    integers in the two fields below.
  </p>
  <div class="flex-vertical forms vertical-center">
    <mat-form-field appearance="fill">
      <mat-label>Groundtruth</mat-label>
      <textarea
              matInput
              [(ngModel)]="gtString"
              (ngModelChange)="updateWarningMessage()"
              cdkTextareaAutosize
              #autosize="cdkTextareaAutosize"
              cdkAutosizeMinRows="1"
              cdkAutosizeMaxRows="7"
              (input)="onChangeArray()"
      ></textarea>
    </mat-form-field>
  </div>
  <div class="flex-vertical forms vertical-center">
    <mat-form-field appearance="fill">
      <mat-label>Prediction</mat-label>
      <textarea
              matInput
              #myTextarea
              [(ngModel)]="predString"
              (ngModelChange)="updateWarningMessage()"
              cdkTextareaAutosize
              #autosize="cdkTextareaAutosize"
              cdkAutosizeMinRows="1"
              cdkAutosizeMaxRows="7"
              (input)="onChangeArray()"
      ></textarea>
    </mat-form-field>
  </div>
  <div *ngIf="gtString.length !== predString.length" class="warning-label" [innerHTML]="warningMessage"></div>
</div>