<div class="flex-vertical vertical-center">
<mat-form-field appearance="fill">
  <mat-label>Groundtruth</mat-label>
  <textarea matInput
  [(ngModel)]="gtString"
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="5"
            (keydown)="onChangeArray()"></textarea>
</mat-form-field>
</div>
<div class="flex-vertical vertical-center">
<mat-form-field appearance="fill">
  <mat-label>Prediction</mat-label>
  <textarea matInput
  [(ngModel)]="predString"
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="5"
            (keydown)="onChangeArray()"></textarea>
</mat-form-field>
</div>

<div class="flex-vertical vertical-center">
  <button type="button" mat-flat-button (click)="fileInput.click()">
    Choose video file
  </button>
  <input
    hidden
    #fileInput
    type="file"
    (change)="readFile($event)"
  />

</div>

<div class="flex-horizontal array-container">
  <div *ngFor="let value of this.gtArray" class="cell" [style.background-color]="this.classService.getRGBStyleFromClass(value)">
    {{value}}
  </div>
</div>

<div class="flex-horizontal array-container">
  <div *ngFor="let value of this.predArray" class="cell" [style.background-color]="this.classService.getRGBStyleFromClass(value)">
  {{value}}
  </div>
</div>

