.video-container{
  margin: 3em;
  video{
    width: 40%;
    border-radius: 1%;
  }
}
.download-container{
  margin: 2em;
  video{
    width: 40%;
    border-radius: 1%;
  }
}

.horizontal-container{
  position: relative;
  left:0;
  right: auto;
  margin-left: -25px;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 2.5em;
  align-items: center;
  align-content: flex-start;
  width: 5.3%;
}
.horizontal1-container{
  position: relative;
  left:0;
  margin-right: -5px;
  right: auto;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 2.5em;
  align-items: center;
  align-content: flex-start;
  width: 3.3%;
}

.time-cursor{
  position: absolute;
  z-index: 5;
  height: 100%;
  width: 0.0%;
  border: dashed 1px white;

}
.phase{
  position: absolute;
  height: 100%;

}
  .cursor{
  --width: 2px;
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  width: var(--width);
  background-color: white;
  cursor:grab;
  z-index: 3;

}
.cursor::before,.cursor::after{
  content: '';
  position: absolute;
  border-radius: 25%;
  background-color: white;
  aspect-ratio: 1;
  width: 2px;
  left: 0%;
  z-index: 2;
  transform: translate(calc(-50% + var(--width)/2), -50%);
}
.cursor::after{
  top: 0%;
}
.cursor::before{
  top: 100%;
}
