
<div class="flex-horizontal">
  <div class="verticalGroup growFlex" style="margin-left:-25px" >
    <label class="unselectable" >Class</label>
    <mat-button-toggle-group
      id="classSelector"
      [value]="classService.currentClass"
    >
      <mat-button-toggle
        mat-list-item
        *ngFor="let class of classService.classes; let i = index; last as last"
        [value]="i"
        (click)="changeActiveClass(i)"
        [style.background-color]="classService.getRGBStyleFromClass(i)"
      >
        {{ class }}
      </mat-button-toggle>
      <mat-button-toggle
        mat-button
        (click)="addClass()"
        matTooltip="Click to add one more class"
        *ngIf="UICtrlService.showEdit"
      >
        <mat-icon>plus_one</mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <div class="verticalGroup" style = "margin-left:-5px" *ngIf="UICtrlService.showEdit">
    <mat-button-toggle-group>
      <mat-button-toggle
        [checked]="tool == 'grab'"
        (change)="changeTool('grab')"
        matTooltip=""
      >
        <mat-icon>pan_tool</mat-icon>
      </mat-button-toggle>

      <mat-button-toggle
        [checked]="tool == 'cut'"
        (change)="changeTool('cut')"
        matTooltip=""
      >
        <mat-icon>unfold_less</mat-icon>
      </mat-button-toggle>

      <mat-button-toggle
        [checked]="tool == 'fill'"
        (change)="changeTool('fill')"
        matTooltip=""
      >
        <mat-icon>colorize</mat-icon>
      </mat-button-toggle>

      <mat-button-toggle
        [checked]="tool == 'delete'"
        (change)="changeTool('delete')"
        matTooltip=""
      >
        <mat-icon>delete</mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>

  </div>
  <div class="verticalGroup growFlex">
    <form>
      <mat-form-field appearance="fill">
        <mat-label>Number of frames</mat-label>
        <input
          type="number"
          readonly
          matInput
          placeholder="20000"
          [(ngModel)]="scoreService.nFrames"
          name="nFrames"
        />
      </mat-form-field>
    </form>
  </div>
</div>
<div class="flex-horizontal" >
<div class="verticalGroup growFlex" style="margin-left:-25px">
  <mat-form-field *ngIf="scoreService.isMulti">
    <mat-label>Select a video number</mat-label>
    <mat-select [(ngModel)]="scoreService.selectedVideo" (selectionChange)="handleVideoSelection($event.value)">
      <mat-option *ngFor="let option of scoreService.videos" [value]="option">
        {{ option }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
</div>
<label class="unselectable" style="margin-left:-25px" for="gt"> Groundtruth</label>
<div id="gt" [ngClass]="{'horizontal-new-container': UICtrlService.showEdit, 'horizontal-container': !UICtrlService.showEdit}" (mouseleave)="stopDragging()">

  <div
          *ngFor="let phase of scoreService.listPhaseGt; let isLast = last"
          class="phase"
          [style.width.%]="UICtrlService.showEdit ? (phase.width) : (phase.width / this.scoreService.nFrames * 100)"
          [style.left.%]="UICtrlService.showEdit ? (phase.start) : (phase.start / this.scoreService.nFrames * 100)"
          (mouseup)="stopDragging()"
          (mousedown)="phaseAction($event, phase, true)"
          (mousemove)="dragPhase($event)"
          (touchmove)="dragPhase($event)"
          (touchstart)="phaseAction($event, phase)"
          (touchstop)="stopDragging()"
          [ngStyle]="{ cursor: !isDragging ? 'auto' : 'grabbing' }"
          [style.background-color]="classService.getRGBStyleFromClass(phase.label)"
          style="width: 100%;"
  >
    <div
            *ngIf="!isLast && UICtrlService.showEdit"
            class="cursor"
            (mousedown)="startDragging($event, phase)"
            (touchstart)="startDragging($event, phase)"
            (mousemove)="dragPhase($event)"

    ></div>
  </div>
</div>

<label class="unselectable" style="margin-left:-25px" for="timephase"> Prediction</label>
<div id="timephase" [ngClass]="{'horizontal-new-container':UICtrlService.showEdit, 'horizontal-container': !UICtrlService.showEdit}"  (mouseleave)="stopDragging()">
  <div
    *ngFor="let phase of scoreService.listPhasePrediction; let isLast = last"
    class="phase"
    [style.width.%]="UICtrlService.showEdit ? (phase.width) : (phase.width / this.scoreService.nFrames * 100)"
    [style.left.%]="UICtrlService.showEdit ? (phase.start) : (phase.start / this.scoreService.nFrames * 100)"
    (mouseup)="stopDragging()"
    (touchstop)="stopDragging()"
    (mousedown)="phaseAction($event, phase)"
    (touchstart)="phaseAction($event, phase)"
    (mousemove)="dragPhase($event)"
    (touchmove)="dragPhase($event)"
    [ngStyle]="{ cursor: !isDragging ? 'auto' : 'grabbing' }"
    [style.background-color]="classService.getRGBStyleFromClass(phase.label)"
  >
    <div
            *ngIf="!isLast && UICtrlService.showEdit"
            class="cursor"
            (mousedown)="startDragging($event, phase)"
            (touchstart)="startDragging($event, phase)"
            (mousemove)="dragPhase($event)"
            (touchmove)="dragPhase($event)"
    ></div>
  </div>
</div>

<div class="flex-horizontal-container video-container" style="margin-left:-35px">
  <button type="button" mat-flat-button (click)="fileInput.click()">
    Choose video file
  </button>
  <input
    hidden
    #fileInput
    type="file"
    (change)="selectFile($event)"
  />
  <mat-form-field>
    <mat-label>Select a video file</mat-label>
    <mat-select [(ngModel)]="scoreService.selectedFile" (selectionChange)="onFileSelected($event)">
      <mat-option *ngFor="let file of files" [value]="file">
        {{ file }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div class="flex-horizontal-container video-container" style="float: right;">
  <button type="button" mat-flat-button (click)="downloadCSV()">
    Export csv file
  </button>
</div>